# Ignore node_modules directory to avoid copying unnecessary dependencies
node_modules

# Ignore npm debug logs and yarn error logs
npm-debug.log
yarn-error.log

# Ignore editor and IDE files
.vscode
.idea
*.sublime-project
*.sublime-workspace
